*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Candal', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* ------------ */
.container-great{
    max-width: 100%;
    margin: 0 auto;
}

.container-medium{
    max-width: 1160px;
    margin: 0 auto;
}
.container-small{
    max-width: 970px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.left{
    float: left;
    position: relative;
}

.right{
    float: right;
    position: relative;
}

ul, a{
    list-style: none;
    text-decoration: none;
}
/* navigazione */
nav{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}

.logo-small{
    display: block;
}

nav li{
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
}

nav li:hover{
    background-color: #f2eee8;
}

nav a{
    color: black;
    line-height: 25px;
}

nav
ul.right
li:last-of-type,
nav
ul.left
li:first-of-type{
    background-color: transparent;
}

nav
ul.right
li:last-of-type a{
    color: white;
    background-color: #1f64f9;
    padding: 5px 15px;
}

nav
ul.right
li:last-of-type a:hover{
    background-color: #4977ff;
}

/* jumbotron */
.jumbotron{
    background-color: #b4d0e7;
    padding-top: 60px;
    max-height: 650px;
}

.container-medium h1{
    font-size: 75px;
    padding-bottom: 40px;
}

div.jumbo div.left {
    max-width: 32%;
}

div.jumbo div.right {
    max-width: 68%;
}

div.jumbo > div.right > img{
    width: 100%;
}

div.jumbo div.left p{
    padding-bottom: 35px;
}

div.jumbo div.left a{
    padding: 10px;
    background-color: #1f64f9;
    color: white;
}

div.jumbo div.left a:hover{
    background-color: #4977ff;
}

div.jumbo div.left div:first-of-type{
    font-size: 13px;
    margin: 20px 0 40px 0;
}
div.jumbo div.left div i{
    font-size: 25px;
}

/* main */
section{
    margin: 180px 0 130px 0;
}

main h2{
    font-size: 40px;
}

.description-top{
    margin: 30px 0;
    height: 120px;
    width: 100%;
    position: relative;
}

main div.container-small section .checkbox{
    position: absolute;
    left: 0;
    bottom: 0;
}

/* card */
.card{
    margin: 0 30px;
    border: 1px solid lightgray;
    width: calc((100% / 3) - 40px);
    min-height: 850px;
    float: left;
}

div.card:nth-of-type(2){
    margin-left: 0;
}

div.card:nth-of-type(4){
    margin-right: 0;
}

.icons{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.space{
    margin: 30px;
    font-size: 13px;
}

.card-header h3{
    font-size: 25px;
}
.card-header div:first-of-type{
    margin: 15px 0 5px 0;
    font-weight: bold;
}

.card-header div:last-of-type{
    color: gray;
}

.card ul li{
    display: block;
    margin: 20px 0;
}

.card-header{
    margin-bottom: 50px;
}

.card-left {
    width: 5%;
}

.card-right{
    width: calc(95% - 10px);
    margin-left: 10px;
}

.card-main > div{
    text-align: center;
    padding: 5px;
    background-color: #1f64f9;
    margin: 40px 0 30px 0;
}

.card-main > div:hover {
    background-color: #4977ff;
}

.card-main > div a{
    color: white;
}

.card-main p{
    margin-bottom: 20px;
}

.card-main p a{
    text-decoration: underline;
    color: #1f64f9;
}

.card-main::after{
    content: "";
    display: block;
    height: 1px;
    width: 30px;
    background-color: lightgray;
    margin: 25px 0;
}

.card-footer h4{
    margin-bottom: 20px;
}

.card-footer i{
    color: #1f64f9;
}

/* card bottom */
.card-bottom {
    width: 100%;
    min-height: 0;
    margin: 60px 0 0 0;
    font-size: 13px;
}

.card-bottom .left{
    padding: 20px 0 20px 20px;
    width: 70%;
}

.card-bottom .left h3{
    font-size: 25px;
}

.card-bottom .left div{
    font-weight: bold;
    font-size: 13px;
    margin: 15px 0 20px 0;
}

.card-bottom .right{
    margin: 0;
    padding: 20px 20px 20px 0;
    width: 30%;
}

.card-bottom .right div{
    text-align: center;
    padding: 5px;
    background-color: #1f64f9;
}

.card-bottom .right div:hover{
    background-color: #4977ff;
}

.card-bottom .right div a{
    color: white;
}

/* articolo */
.description{
    width: 100%;
    margin-bottom: 100px;
}

.description .left{
    width: 50%;
}

.description .left img{
    width: 100%;
}

.description .right{
    width: 50%;
    padding: 40px 0 0 40px;
}

.description .right h3{
    font-size: 25px;
}

.description .right p{
    margin: 30px 0 40px 0;
    line-height: 30px;
}

.description .right a{
    border: 1px solid black;
    color: black;
    padding: 10px;
}

.description .right a:hover{
    background-color: #f2eee8;
}

/* operazioni */
.operations{
    width: 100%;
    min-height: 900px;
    margin-bottom: 100px;
}

.operations .left{
    margin: 25px;
    width: calc((100% / 3) - 34px);
    height: 450px;
}

.operations
.left:nth-of-type(1),
.left:nth-of-type(4) {
    margin-left: 0;
}

.operations .left:nth-of-type(3n){
    margin-right: 0;
}

.operations .left img{
    width: 100%;
}

.operations .left h3{
    font-size: 25px;
}
.operations .left p{
    margin-top: 30px;
    font-size: 13px;
}

/* partnership */
.title-partnership  div{
    margin: 30px 0 50px 0;
}

.title-partnership  div a{
    color: #1f64f9;
    text-decoration: underline;
}

.partnership{
    height: 350px;
}

.partnership
.container-left,
.container-right{
    width: 25%;
    height: 100%;
}

.partnership .container-center{
    width: 50%;
    height: 100%;
    background-color: #f3f3f3;
    padding: 30px;
    font-size: 13px;
}

.partnership .container-center img{
    width: 15%;
}

.partnership .container-center p{
    margin-bottom: 40px;

}

.partnership .container-center p::before{
    content: "";
    display: block;
    height: 1px;
    width: 30px;
    background-color: lightgray;
    margin: 25px 0;
}

.container-left .left,
.container-right .left {
    width: calc(100% /2);
    height: calc(100% /2);
}

.container-left .left img,
.container-right .left img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.container-left .left img:hover,
.container-right .left img:hover {
    width: 70%;
    padding: 0;
}

.container-left .left svg,
.container-right .left svg {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: white;
}

.container-left .left svg:hover,
.container-right .left svg:hover {
    width: 70%;
    padding: 0;
}

/* container left */
.container-left
.left:nth-of-type(1){
    background-color: #a2d39b;
}

.container-left
.left:nth-of-type(1):hover{
    border: 7px solid #d0e9cd ;
}

.container-left
.left:nth-of-type(2){
    background-color: #61082b;
}

.container-left
.left:nth-of-type(2):hover{
    border: 7px solid #ad0e4c ;
}

.container-left
.left:nth-of-type(3){
    background-color: #0093ce;
}

.container-left
.left:nth-of-type(3):hover{
    border: 7px solid #00b5ff ;
}

.container-left
.left:nth-of-type(4){
    background-color: #ff1c1c;
}

.container-left
.left:nth-of-type(4):hover{
    border: 7px solid #ff581c;
}

/* container right */
.container-right
.left:nth-of-type(1){
    background-color: #d5001f;
}

.container-right
.left:nth-of-type(1):hover{
    border: 7px solid #ff0025;
}

.container-right
.left:nth-of-type(2){
    background-color: #b4d0e7;
}

.container-right
.left:nth-of-type(2):hover{
    border: 7px solid #c6deff;
}

.container-right
.left:nth-of-type(3){
    background-color: #0d2481;
}

.container-right
.left:nth-of-type(3):hover{
    border: 7px solid #1439cd;
}

.container-right
.left:nth-of-type(4){
    background-color: #ffd830;
}

.container-right
.left:nth-of-type(4):hover{
    border: 7px solid #fff330;
}

/* prova per le aziende */
.background-partnership{
    background-color: #b4d0e7;
    min-height: 0;
}

.background-partnership >
.container-small > .box {
    margin: 90px 0;
    width: 50%;
}

.background-partnership h2 {
    font-size: 40px;
    color: #61082b;
}
.background-partnership a{
    float: right;
    background-color: #ffffff;
    padding: 5px 50px;
    font-size: 13px;
    color: black;
}
.background-partnership a:hover{
    background-color: #f2eee8;
}

/* domande */
.frequent-questions{
    margin: 75px;
}

.frequent-questions h3{
    font-size: 25px;
    margin-bottom: 30px;
}

.frequent-questions div:first-of-type{
    border-top: 1px solid lightgray;
}

.frequent-questions div{
    cursor: pointer;
    font-weight: bold;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

/* icona risposte */
.frequent-questions i{
    float: right;
}

.frequent-questions .questions:hover i{
    transition-duration: 1s;
    transform: rotate(180deg);
}

/* risposte */
.frequent-questions .questions .answer{
    width: 95%;
    max-height: 0;
    font-weight: normal;
    opacity: 0;
    transition-property: all opacity;
    transition-duration: 1s;
}

.frequent-questions .questions:hover .answer{
    width: 95%;
    max-height: 180px;
    margin-top: 20px;
    font-weight: normal;
    opacity: 1;
}

/* footer */
footer{
    background-color: #000000;
}

.info{
    margin: 90px 0;
    min-height: 150px;
    width: calc(100% / 5);
}

.info a:hover{
    font-size: 15px;
    font-weight: bold;
}

.info h4, a{
    color: white;
    text-transform:capitalize;
}

.info h4{
    font-size: 20px;
    margin-bottom: 15px;
}

.info li{
    font-size: 13px;
    margin: 5px 0;
}

/* scelta della lingua */
.language::before{
    content: "";
    display: block;
    height: 1px;
    width: 150px;
    background-color: lightgray;
    margin-bottom: 30px;
}

.language{
    margin-bottom: 30px;
}

.language i, select{
    cursor: pointer;
    background-color: #000000;
    color: lightgray;
    border: 1px solid #000000;
}