*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------ */
.container-1{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.container-2{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}
.container-3{
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.left{
    float: left;
    position: relative;
    /* background-color: aquamarine; */
}

.right{
    float: right;
    position: relative;
    /* background-color: rosybrown; */
}

ul, a{
    list-style: none;
    text-decoration: none;
}
/* navigazione */
nav .container-1 .right{
    padding: 6px 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

nav ul li{
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    padding: 15px 10px;
}

nav ul li a{
    color: black;
}

nav div.right ul li:last-of-type a{
    color: white;
    background-color: #1f64f9;
    padding: 6px 15px;
}

/* jumbotron */
.jumbotron{
    background-color: #b3cee4;
    padding: 55px 0;
}

.container-2 h1{
    font-size: 65px;
    padding-bottom: 20px;
}

div.jumbo div.left {
    width: 40%;
}

div.jumbo div.right {
    width: calc(60% - 20px);
}

div.jumbo div.right img{
    width: 600px;
    position: absolute;
    top: 0;
    right: 0;
}

div.jumbo div.left p{
    padding-bottom: 35px;
}

div.jumbo div.left a{
    padding: 10px;
    background-color: #1f64f9;
    color: white;
}

div.jumbo div.left div{
    padding-top: 20px;
}
div.jumbo div.left div i{
    font-size: 25px;
}

/* main */
main div.container-3 section{
    margin: 100px 0;
}

.description-top{
    margin: 150px 0 20px 0;
    height: 80px;
    width: 100%;
    position: relative;
}

main div.container-3 section .checkbox{
    position: absolute;
    bottom: 0;
}

/* card */
.card{
    margin: 10px;
    border: 1px solid lightgray;
    width: calc((100% / 3) - 20px);
    height: 600px;
    float: left;
}

.bottom{
    width: 100%;
    height: 150px;
}

.icons{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    font-weight: lighter;
}

.space{
    padding: 10px;
}

div.info ul li{
    display: inline-flex;
}





