*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Candal', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* ------------ */
.container-1{
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.container-2{
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
}
.container-3{
    max-width: 970px;
    margin: 0 auto;
    position: relative;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.left{
    float: left;
    position: relative;
    /* background-color: aquamarine; */
}

.right{
    float: right;
    position: relative;
    /* background-color: rosybrown; */
}

ul, a{
    list-style: none;
    text-decoration: none;
}
/* navigazione */
nav .container-1 .right{
    padding: 6px 0;
}

nav ul li{
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    padding: 15px 10px;
}

nav ul li a{
    color: black;
}

nav div.right ul li:last-of-type a{
    color: white;
    background-color: #1f64f9;
    padding: 6px 15px;
}

/* jumbotron */
.jumbotron{
    background-color: #b3cee4;
    padding: 55px 0;
}

.container-2 h1{
    font-size: 65px;
    padding-bottom: 20px;
}

div.jumbo div.left {
    max-width: 40%;
}

div.jumbo div.right {
    max-width: 60%
}

div.jumbo div.right img{
    width: 650px;
    position: absolute;
    top: 0;
    right: 0;
}

div.jumbo div.left p{
    padding-bottom: 35px;
}

div.jumbo div.left a{
    padding: 10px;
    background-color: #1f64f9;
    color: white;
}

div.jumbo div.left div:first-of-type{
    margin: 20px 0 40px 0;
}
div.jumbo div.left div i{
    font-size: 25px;
}

/* main */
main h2{
    font-size: 40px;
}

.description-top{
    margin: 30px 0;
    height: 120px;
    width: 100%;
    position: relative;
}

main div.container-3 section .checkbox{
    position: absolute;
    left: 0;
    bottom: 0;
}

section{
    margin: 180px 0 130px 0;
}

/* card */
.card{
    margin: 0 30px;
    border: 1px solid lightgray;
    width: calc((100% / 3) - 40px);
    min-height: 750px;
    float: left;
}

div.card:nth-of-type(2){
    margin-left: 0;
}

div.card:nth-of-type(4){
    margin-right: 0;
}

.icons{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.space{
    margin: 20px;
    font-size: 13px;
}
.card-header h3{
    font-size: 20px;
}
.card-header div:first-of-type{
    margin: 15px 0 5px 0;
    font-weight: bold;
}

.card-header div:last-of-type{
    color: gray;
}

.card i{
    margin:  0 2px;
}

.card ul li{
    display: block;
    margin: 15px 0;
}

.card-header{
    margin-bottom: 20px;
}

.card-main div {
    text-align: center;
    padding: 5px;
    background-color: #1f64f9;
    margin: 20px 0;
}

.card-main div a{
    color: white;
}

.card-main p{
    margin-bottom: 20px;
}

.card-main p a{
    text-decoration: underline;
    color: #1f64f9;
}

.card-main::after{
    content: "";
    display: block;
    height: 1px;
    width: 30px;
    background-color: lightgray;
    margin: 25px 0;
}

.card-footer h4{
    margin-bottom: 20px;
}

.card-footer i{
    color: #1f64f9;
}

/* card bottom */
.card-bottom {
    width: 100%;
    min-height: 0;
    margin: 60px 0 0 0;
    font-size: 13px;
}

.card-bottom .left{
    padding: 20px 0 20px 20px;
    width: 70%;
}

.card-bottom .left h3{
    font-size: 20px;
}

.card-bottom .left div{
    font-weight: bold;
    font-size: 15px;
    margin: 15px 0 20px 0;
}

.card-bottom .right{
    padding: 20px 20px 20px 0;
    width: 30%;
}

.card-bottom .right div{
    text-align: center;
    padding: 5px;
    background-color: #1f64f9;
}

.card-bottom .right div a{
    color: white;
}

/* articolo */
.description{
    width: 100%;
    min-height: 0;
    margin-bottom: 100px;
}

.description .left{
    width: 50%;
}

.description .left img{
    width: 100%;
}

.description .right{
    width: 50%;
    padding: 40px 0 0 40px;
}

.description .right h3{
    font-size: 30px;
}

.description .right p{
    margin: 30px 0 40px 0;
    line-height: 30px;
}

.description .right a{
    border: 1px solid black;
    color: black;
    padding: 10px;
}

/* operazioni */
.operations{
    width: 100%;
    min-height: 900px;
    margin-bottom: 180px;
}

.operations .left{
    margin: 25px;
    width: calc((100% / 3) - 34px);
    height: 450px;
}

.operations
.left:nth-of-type(1),
.left:nth-of-type(4) {
    margin-left: 0;
}

.operations .left:nth-of-type(3n){
    margin-right: 0;
}

.operations .left img{
    width: 100%;
}

.operations .left h3{
    font-size: 25px;
}
.operations .left p{
    margin-top: 30px;
    font-size: 13px;
}

/* partnership */
.title-partnership  div{
    margin: 30px 0;
}

.title-partnership  div a{
    color: #1f64f9;
    text-decoration: underline;
}
.partnership{
    height: 300px;
    border: 1px solid;
}

.partnership
.container-left,
.container-right{
    width: 25%;
    height: 100%;
}

.partnership .container-center{
    width: 50%;
    height: 100%;
    background-color: #f3f3f3;
    padding: 30px;
    font-size: 13px;
}

.partnership .container-center img{
    width: 20%;
}

.partnership .container-center p{
    margin-bottom: 40px;

}

.partnership .container-center p::before{
    content: "";
    display: block;
    height: 1px;
    width: 30px;
    background-color: lightgray;
    margin: 25px 0;
}

.partnership
.container-left .left,
.container-right .left {
    width: calc(100% /2);
    height: calc(100% /2);

    background-color: crimson;
    border: 1px black solid;
}

.partnership
.container-left .left img,
.container-right .left img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



